body, html{
  overflow-x:hidden;
}

body {
  background-color: #0c0c0c;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#b2b2b2;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1, h2 {
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

h2 {
  font-weight:100;
  font-size:2.827em;
}

img {
  -webkit-filter: grayscale(100%);
  width:100%;
}

p {
  margin: auto;
  font-size: 19px;
  font-weight: 200;
  letter-spacing: .8px;
  line-height: 32px;
}
