
.backgroundimg {
  height: 500px;
  position: relative;
}

.backgroundimg:before {
  /*background:linear-gradient(0deg, #fff, transparent ),url("/img/sail.jpeg");*/
  background-color:#424244;
  background-position: center;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-attachment:static;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainname {
  font-weight:400;
  font-size:5em;
  color:white;
}

.about-icon {
  color:#00aeef;
  font-size:5em;
}

.backgroundbox {
  border-bottom: solid 1px grey;
}

.bounce {
  position:relative;
  text-align:center;
  font-size:100px;
  margin-top:100px;
  color:#222222;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.hideme2{
  width:100%;
  margin-bottom:200px;
  margin-top:160px;
}

.subtitle {
  color: #00aeef;
}

.makewhite {
  margin-top:10px;
  margin-bottom:50px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

.leaddevelop {
  font-family: 'Lora',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:white;
}


.navbar-default .navbar-nav>li>a {
  color:white;
  font-size:20px;
  font-weight:100;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #00aeef;
}

.navbar-default, .footercolor {
  background-color:transparent;
  border:none;
}


#fontchange {
  font-size:30px;
  color:white;
}

#project {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top:200px;
  font-size:4em;
}
