
.backgroundimg {
  height: 750px;
  position: relative;
}

.sub-title {
  line-height: 55px;
  margin-top: 0px;
  letter-spacing: 1px;
  color:#dfdfdf;
  font-weight: 600;
  font-size: 3.5em;
}

.title-weight {
  font-weight:300;
}

.title-weight span {
  font-weight:400;
  color:#e6e6e6;
}

.whitespan {
    font-weight: 400;
    color: white;
}

.cell-phone {
  margin-left: 100px;
  margin-top: -50px;
}


.mainname {
  color:#ddd;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-image: url("../img/r.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 110px;
  line-height: 100px;
  text-align: left;
}

.about-icon {
  color:#00aeef;
  font-size:5em;
}

.backgroundbox {
  border-bottom: solid 1px grey;
}

.hideme2{
  width:100%;
  margin-bottom:200px;
  margin-top:160px;
}

.subtitle {
  color: #00aeef;
}

.makewhite {
  margin-top:10px;
  margin-bottom:50px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

.leaddevelop {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 600;
font-size: 15px;
letter-spacing: 2px;
text-transform: uppercase;
width: 150px;
height: 19px;
}

.navbar-default .navbar-nav>li>a {
  color:#00aeef;
  font-size:20px;
  margin-right:20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #9E9E9E;
}

.navbar-default, .footercolor {
  background-color:transparent;
  border:none;
}


#fontchange {
  font-size:30px;
  padding-left:0px;
  color:#00aeef;
  visibility: hidden;
  margin-left:10px;
}

#project {
  margin-top:200px;
  font-size:4em;
}

#charts{
	 height: auto !important;
	 min-height: initial;
	 padding: 24px;
	 cursor: pointer;
	 background: none;
	}



 .chrt {
	 width: 100%;
	 height: auto;
	 overflow: hidden;
	}

 .chart{
	 width: 100%;
	 height: 40px;
	 margin-top: 6px;
	 margin-bottom: 6px;
	 float:left;
   overflow:hidden;
	}

	.chart_color {
    color:#dfdfdf;
    font-size: 15px;
    height: 40px;
    padding: 14px;
    text-transform: uppercase;
    width: 40%;
    background-color: rgb(40,40,40);
    border-right: 5px solid #DDD;
    text-align: left;
	}
  .chart_color:hover {
      background-color: rgb(121,121,121);
  }


	.html {
		width: 95%;
	}
	.css {
		width:95%;
	}

	.js {
		width:80%;
	}

	.ps {
		width:50%;
	}

	.git {
		width:75%;
	}

	.bootstrap {
		width:95%;
	}

	.wordpress {
		width:80%;
	}
	.ruby {
		width: 45%;
	}

  .responsive {
    width: 90%;
  }

.animate_all_slow {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left p {
  opacity: 0;
  -moz-transition: all 1200ms linear;
  -webkit-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  transition: all 1200ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);

}

.animation-element.slide-left.in-view p {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.image-animation {
  opacity: 0;
  -moz-transition: all 1300ms ease-in-out 1s;
  -webkit-transition: all 1300ms ease-in-out 1s;
  -o-transition: all 1300ms ease-in-out 1s;
  transition: all 1300ms ease-in-out 1s;
}

.animation-element.image-animation.in-view {
  opacity: 1;
}

.animation-element.slide-left .screen {
  opacity: 0;
  -moz-transition: all 1800ms linear;
  -webkit-transition: all 1800ms linear;
  -o-transition: all 1800ms linear;
  transition: all 1800ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view .screen {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}




.screen {
  margin:10px;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 2s ease;
}

.screen:hover {
  -webkit-filter: none;
filter: none;
}

.screen:before {
  content: "";
  display: block;

  padding-top: 75%;
}

.screen:after {
  content: "";
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


.screen .viewport {
  transition: background-position 5s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
  border:solid 5px white;
}

.screen:hover .viewport {
  background-position: 0 100%;
}

.screen .viewport:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width:768px) and (max-width: 991px){
  .lead2 {
      font-size: 5em;
      margin: 30px 10px 30px 10px !important;
  }

  .cell-phone {
      margin-left: 0px;
      margin-top: 0px;
      width: 50%;
  }

  .mainname {
    font-size:90px;

  }

  .mar-bottom-600 {
    margin-bottom:300px !important;
  }

  .sub-title {
    font-size: 2.5em !important;
}

.pad-left-40 {
    padding-left: 8px !important;
}

}

@media screen and (max-width: 767px){
  .lead2 {
      font-size: 5em;
      margin: 30px 10px 30px 10px !important;
  }

  .cell-phone {
      margin-left: 0px;
      margin-top: 0px;
      width: 50%;
  }

  .mainname {
    font-size:60px;
    text-align:center;
  }

  .mar-bottom-600 {
    margin-bottom:150px !important;
  }

  .sub-title {
    font-size: 2.5em !important;
}

.pad-left-40 {
    padding-left: 8px !important;
}

}
