.fa-linkedin {
  margin-right:10px;
}

.fa-github {
  margin-left:10px;
}

.fa-envelope {
  margin-left:20px;
}

.aboutsection{
  padding-top:200px;
  padding-bottom:200px;
}

.navbar {
  min-height:60px;
}

.lead {
  font-size:3em;
  margin-top:100px;
}

.lead2 {
  font-size:5em;
  margin: 30px;
}

.colorfix {
  color: #00aeef;
}

.tab {
  float:right;
  padding-top:5px;
}

.margin-t-150 {
  margin-top:150px;
}

.margin-t-100 {
  margin-top:100px
}

.margin-b-100 {
  margin-bottom:100px;
}

.padding-b-50 {
  padding-bottom:50px;
}

.padding-t-50 {
  padding-top: 50px;
}

.bold {
  font-weight:bold;
  color:#00aeef;
}

.grayrow {
  background-color:#f2f2f2;
}

#changecolor {
  margin-right:0px;
}
