

.template {
  display: none;
}


#fontchange {
  font-size:30px;
  color:#FED136;
}


.jumbotron {
  color:white;
  height: 500px;
  background-image: url("../img/ghost1.jpg");
  background-position: bottom;
  margin-top:50px;
}

.mainname {
  margin-top:125px;
}

.fa-linkedin {
  margin-right:10px;
}

.fa-github {
  margin-left:10px;
}

.jumbotron p {
  font-size:30px;
}

.aboutsection{
  padding-top:170px;
}

.hideme2{
  width:100%;
}

.navbar {
  min-height:60px;
}

a {
  color:#FED136;
}

.navbar-default .navbar-nav>li>a {
  color:#FED136;
  font-size:20px;
}
.navbar-default {
  background-color:#222222;
  border:none;
}

img {
  -webkit-filter:grayscale(100%);
  border-radius:20px;
}

footer {
  border-top: solid;
  text-align:center;
  margin-top: 200px;
}

p {
  margin: auto;
}

#top {
  margin: 200px auto 0px auto;
}

.tab {
  float:right;
  padding-top:5px;
}

#first {
  display:block;
}

#second {
  display:inline;
}
